<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% Pet.all.each do |pet| %>
    <p><a href="/pets/<%=pet.id%>><%=pet.name%></a></p>
    <%end%>
    

  </body>
</html>
